@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<p>Kevin M</p>
<p>
    Please <a href="&#109a&#105;lt&#111;&#58;kevm&#117;ll6&#53;&#64;&#103;ma&#105;l&#46;&#99;om?&#115&#117;bjec&#116;&#61;Movies%20Made%20In%20Malta%3A%20">submit</a> any site feedback, errors, bugs etc.
</p>
