<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="Movies made in Malta, Gozo and Comino.  " />
    <meta name="keywords" content="malta,movies,films,malta movies,gozo,comino,locations,filmed in malta,made in malta,movies made malta" />
    <title>@ViewData["Title"] - Movies Made in Malta and Manchester</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>

    @*Added by autocomplete..
        https://www.aspsnippets.com/Articles/Implement-jQuery-AutoComplete-TextBox-in-ASPNet-MVC.aspx*@
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css" />

    <link rel="shortcut icon" href="~/favicon.ico" />



    @*Lightbox cssand js*@
    <link href="~/lib/bootstrap/dist/css/lightbox.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/lightbox.js"></script>

    @*need share buttons*@
    <link href="~/lib/needShareButton/dist/needsharebutton.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @*<environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>*@
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


    </environment>

</head>
<body>
    <!--Default Navbar Start Here-->
    <!--<nav> tag  start with classes .navbar and .navbar-default-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!--Navbar Header Start Here-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--Navbar Header End Here-->
            <div class="navbar-collapse collapse">
                <!--Menu Start Here-->
                <ul class="nav navbar-nav">
                    @*<li><img src="~/images/icons/made_in_malta_logo_small.png" /></li>*@
                    <li><a asp-route-regionName="malta" asp-controller="Movies" asp-action="Index">
                    <img src="~/images/icons/made_in_malta_logo_small.png" width="30"
                         alt="Maltese Cross"
                         title="Maltese Cross"
                          />
                         </a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">MOVIES MADE IN MALTA AND MANCHESTER</a></li>
                    @*<li><img src="~/images/icons/made_in_manchester_logo_small.png" /></li>*@
                    <li><a asp-route-regionName="manchester" asp-controller="Movies" asp-action="Index">
            <img src="~/images/icons/made_in_manchester_logo_small.png" width="30"
                    alt=""Manchester bee"
                    title="Manchester bee"
                    />
                    </a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Movie List
                            <span class="caret"></span>
                        </a>
                        @*MOVIE LIST*@
                        <ul class="dropdown-menu" width="100">
                            <li>
                                <div>
                                    <a asp-area="" asp-controller="Movies" asp-route-regionName="malta" asp-action="Index">Malta</a>
                                    <img src="~/images/icons/malta_cross_50.png" width="13" />
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a asp-area="" asp-controller="Movies" asp-route-regionName="manchester" asp-action="Index">Manchester</a>
                                    <img src="~/images/icons/regionlogo_small_MANCHESTER.png" width="13" />
                                </div>
                            </li>

                        </ul>
                    </li>
                    @*LOCATIONS LIST*@
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Locations
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @*<li><a asp-area="" asp-controller="LocationSites" asp-route-regionName="malta" asp-action="Index">MALTA</a></li>
                <li><a asp-area="" asp-controller="LocationPlaces" asp-route-regionName="manchester" asp-action="Index">MANCHESTER</a></li>*@
                            <li>
                                <div>
                                    <a asp-area="" asp-controller="LocationSites" asp-route-regionName="malta" asp-action="Index">Malta</a>
                                    <img src="~/images/icons/malta_cross_50.png" width="13" />
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a asp-area="" asp-controller="LocationPlaces" asp-route-regionName="manchester" asp-action="Index">Manchester</a>
                                    <img src="~/images/icons/regionlogo_small_MANCHESTER.png" width="13" />
                                </div>
                            </li>
                        </ul>
                    </li>

                    @*MAPS*@
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Maps
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><div><a asp-area="" asp-controller="MovieMap" asp-action="Maltamoviemap">Malta Movie Map</a>&nbsp;<img src="~/images/icons/malta_cross_50.png" width="13" /></div></li>
                            <li><div><a asp-area="" asp-controller="AliasMap" asp-action="Maltaaliasmap">Malta Alias Map</a>&nbsp;<img src="~/images/icons/malta_cross_50.png" width="13" /></div></li>


                            <li><div><a asp-area="" asp-controller="MovieMap" asp-action="Manchestermoviemap">Manchester Movie Map</a>&nbsp;<img src="~/images/icons/regionlogo_small_MANCHESTER.png" width="13" /></div></li>
                            <li><div><a asp-area="" asp-controller="AliasMap" asp-action="Manchesteraliasmap">Manchester Alias Map</a>&nbsp;<img src="~/images/icons/regionlogo_small_MANCHESTER.png" width="13" /></div></li>

                        </ul>
                    </li>
                    <li><a asp-area="" asp-controller="Contact" asp-action="Index">Search</a></li>
                    <li><a asp-area="" asp-controller="Comments" asp-action="Index">Comments</a></li>
                    <li><a asp-area="" asp-controller="About" asp-action="Index">About</a></li>
                    <li><a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></li>

                </ul>

                <div id="share-button-1" class="need-share-button-default" data-share-icon-style="box"
                     data-share-position="bottomCenter" data-share-networks="Mailto,Twitter,Pinterest,Facebook,Googleplus,linkedin">
                </div>
            </div>
        </div>

        <script src="~/lib/needShareButton/dist/needsharebutton.js"></script>
        <script>
            new needShareDropdown(document.getElementById('share-button-1'));
        </script>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2006 - 2020 - Movies Made in Malta and Manchester
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    @RenderSection("Scripts", required: false)

</body>

</html>
