@{
    ViewData["Title"] = "World Alias Map";
}
<h2>World Alias Map - Malta locations doubling as worldwide locations </h2>

<div id="map" style="width: 780px; height: 600px"></div>

<script type="text/javascript">


    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: new google.maps.LatLng(0, 0),// FULL WORLD
            //   center: new google.maps.LatLng(-33.863276, 151.207977), // OZ
            gestureHandling: 'greedy', // Enable zooming with mouse within window
            zoom: 2
        });
        var infoWindow = new google.maps.InfoWindow;


        downloadUrl('/data/locations_aliases.xml', function (data) {
            var xml = data.responseXML;


            var markers = xml.documentElement.getElementsByTagName('aliaslocation');
            Array.prototype.forEach.call(markers, function (markerElem) {

                var aliasid = markerElem.getElementsByTagName('aliasid')[0].childNodes[0];
                var aliascountryandplace = markerElem.getElementsByTagName('aliascountryandplace')[0].childNodes[0];
                

                var point = new google.maps.LatLng(
                    parseFloat(markerElem.getAttribute('lat')),
                    parseFloat(markerElem.getAttribute('lng')));

               
                var infowincontent = '<p><strong>' + aliascountryandplace.nodeValue + '</strong></p>';
              
                // movie titles
                var movies = markerElem.getElementsByTagName('movie');
                if (movies.length > 0)
                    infowincontent += "<ul>";
                for (var i = 0; i < movies.length; i++) {
                    var title = movies[i].getElementsByTagName('title')[0].childNodes[0].nodeValue;
                    var titleid = movies[i].getElementsByTagName('titleid')[0].childNodes[0].nodeValue;
                    var movietitleurl = "<a href='/Movies/Title/" + titleid + "' target='_blank'>\'" + title + "\'</a>";
                    infowincontent += "<strong><li>" + movietitleurl + "</li></strong>";

                    // malta locations               
                    var actuallocations = movies[i].getElementsByTagName('actuallocation');
                    if (actuallocations.length > 0)
                        infowincontent += "<ul>";
                                        
                    for (var j = 0; j < actuallocations.length; j++) {
                            var locationplaceandsite = actuallocations[j].getElementsByTagName('locationplaceandsite')[0].childNodes[0].nodeValue;
                            infowincontent += "<li>" + locationplaceandsite + "</li>";
                       
                    }
                    if (actuallocations.length > 0)
                        infowincontent += "</ul>";

                }
                if (movies.length > 0)
                    infowincontent += "</ul>";

                
           
                
                                           
                       //if (actuallocations.length > 0)
                       //     infowincontent += "<ul>";

                    //for (var j = 0; j < actuallocations.length; j++) {
                        
                    //  var locationplaceandsite = actuallocations[j].getElementsByTagName('locationplaceandsite')[0].childNodes[0].nodeValue;
                       
                    //    infowincontent += "<li>" + locationplaceandsite + "</li>";

                   // }                   
                        

                  


                var marker = new google.maps.Marker({
                    map: map,
                    position: point,
                    // icon: '/images/icons/clapper.png',
                    title: aliascountryandplace.nodeValue
                });


                marker.addListener('click', function () {
                    infoWindow.setContent(infowincontent);
                    infoWindow.open(map, marker);
                });
            });
        });
    }


    function downloadUrl(url, callback) {
        var request = window.ActiveXObject ?
            new ActiveXObject('Microsoft.XMLHTTP') :
            new XMLHttpRequest;

        request.onreadystatechange = function () {
            if (request.readyState == 4) {
                request.onreadystatechange = doNothing;
                callback(request, request.status);
            }
        };

        request.open('GET', url, true);
        request.send(null);
    }

    function doNothing() { }

</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2NceVpHdaJdEUGVdWC8qM_0nYVl8RsSQ&callback=initMap">
</script>




