@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<p>Kevin M</p>
<p>
    Please <a href='m&#97;ilt&#111;&#58;%&#54;Be%&#55;6%6Dull65&#64;%67&#109;&#97;il&#46;com'>submit</a> any site feedback, errors, bugs etc.
</p>
