@{
    ViewData["Title"] = "Movies Made in Malta";
}

@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
            <li data-target="#myCarousel" data-slide-to="7"></li>
            <li data-target="#myCarousel" data-slide-to="8"></li>
            <li data-target="#myCarousel" data-slide-to="9"></li>
            <li data-target="#myCarousel" data-slide-to="10"></li>
            <li data-target="#myCarousel" data-slide-to="11"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/carousel/2013_3401_MALTA_VALLETTA.jpg" alt="Fort St Angelo" title="Fort St Angelo" class="img-responsive" />
                <div class="carousel-caption">
                    <p>
                        MOVIES MADE IN MALTA AND MANCHESTER
                    </p>
                </div>

            </div>

            <div class="item">
                <img src="~/images/carousel/assassins-creed-5772aa252c5b8.jpg" alt="Assassins Creed" title="Assassins Creed" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/carousel/3898_MALTA_MISC.jpg" alt="Fort Manoel" title="Fort Manoel" class="img-responsive" />
                <div class="carousel-caption">
                    <p>
                        MOVIES MADE IN MALTA
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/carousel/world-war-z-5227bffd7a8bc.jpg" alt="World War Z" title="World War Z" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/carousel/2013_3761_MALTA_VITTORIOSA.jpg" alt="Valletta" title="Valletta" class="img-responsive" />
                <div class="carousel-caption">
                    <p>
                        MOVIES MADE IN MALTA
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/carousel/the-devils-double-508d707c67da5.jpg" alt="Devils Double" title="Devils Double" class="img-responsive" />
            </div>

            <div class="item">
                <img src="~/images/carousel/2005_0804_MALTA_VALLETTA.jpg" alt="Valletta" title="Valletta" class="img-responsive" />
                <div class="carousel-caption">
                    <p>
                        MOVIES MADE IN MALTA
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/carousel/midnight-express-5733fc65ca17c.jpg" alt="Midnight Express" title="Midnight Express" class="img-responsive" />
            </div>

            <div class="item">
                <img src="~/images/carousel/2002_29_MALTA_VALLETTA.jpg" alt="Fort St Elmo" title="Fort St Elmo" class="img-responsive" />
                <div class="carousel-caption">
                    <p>
                        MOVIES MADE IN MALTA
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/carousel/clash-of-the-titans-5413bbdb90d25.jpg" alt="Clash of the Titans" title="Clash of the Titansclass="img-responsive" />
            </div>

            <div class="item">
                <img src="~/images/carousel/2013_3663_MALTA_GOZO.jpg" alt="Azure Window, Gozo" title="Azure Window, Gozo" class="img-responsive" />
                <div class="carousel-caption">
                    <p>
                        MOVIES MADE IN MALTA
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/carousel/munich-5408fa6b58b46.jpg" alt="Munich" title="Munich" class="img-responsive" />
            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>*@


<div>
    <h2>Movies Made in Malta and Manchester</h2>
    <article>
        This web site is dedicated to movies made in Malta and Manchester.<br />
        Manchester being my home city and Malta being my 'second home' as i'm half Maltese and have visited the Island and locations listed here many times.
        <br />
        <h4>MALTA</h4>
        Numerous locations on Malta, Gozo and Comino have appeared in Film and TV productions throughout the years. Here are just a few of the places that you can visit to find out why the camera loves them - including natural landmarks, architectural treasures and Malta's very own film studios.

        <h4>MANCHESTER</h4>
        Manchester is home to a wide range of stunning and diverse locations; from ultra-modern offices and city centre streets to historic houses and suburban areas

    </article>
    <p>Click on an icon below to see the movie list</p>

    <a asp-route-regionName="malta" asp-controller="Movies" asp-action="Index">
        <img src="~/images/icons/malta_web_logo.png"
             alt="Maltese Cross"
             title="Maltese Cross"
             class="imgBox" />
    </a>

    <a asp-route-regionName="manchester" asp-controller="Movies" asp-action="Index">
        <img src="~/images/icons/manchester_web_logo.png"
             alt="Maltese Cross"
             title="Maltese Cross"
             class="imgBox" />
    </a>



    @*<a asp-area="" asp-route-regionName="malta" asp-controller="Movies" asp-action="Index"><img src="~/images/icons/malta_web_logo.png" width="300" /></a>
    <a asp-area="" asp-route-regionName="manchester" asp-controller="Movies" asp-action="Index"><img src="~/images/icons/manchester_web_logo.png" /></a>*@

    <p style="clear: both;">

</div>



