@{
    ViewData["Title"] = "Movies Made in Malta";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
        <li data-target="#myCarousel" data-slide-to="10"></li>
        <li data-target="#myCarousel" data-slide-to="11"></li>
        <li data-target="#myCarousel" data-slide-to="12"></li>
        <li data-target="#myCarousel" data-slide-to="13"></li>
        <li data-target="#myCarousel" data-slide-to="14"></li>
        <li data-target="#myCarousel" data-slide-to="15"></li>
        <li data-target="#myCarousel" data-slide-to="16"></li>
        <li data-target="#myCarousel" data-slide-to="17"></li>
        <li data-target="#myCarousel" data-slide-to="18"></li>
        <li data-target="#myCarousel" data-slide-to="19"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/carousel/2013_3401_MALTA_VALLETTA.jpg" alt="Fort St Angelo" title="Fort St Angelo" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    <img src="~/images/icons/malta_cross_100.png" /><br />
                    MOVIES <br />
                    MADE IN<br />
                    MALTA
                </p>
            </div>

        </div>

        <div class="item">
            <img src="~/images/carousel/assassins-creed-5772aa252c5b8.jpg" alt="Assassins Creed" title="Assassins Creed" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/images/carousel/3898_MALTA_MISC.jpg" alt="Fort Manoel" title="Fort Manoel" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    <img src="~/images/icons/malta_cross_100.png" /><br />
                    MOVIES <br />
                    MADE IN<br />
                    MALTA
                </p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/carousel/world-war-z-5227bffd7a8bc.jpg" alt="World War Z" title="World War Z" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/images/carousel/2013_3761_MALTA_VITTORIOSA.jpg" alt="Valletta" title="Valletta" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    <img src="~/images/icons/malta_cross_100.png" /><br />
                    MOVIES <br />
                    MADE IN<br />
                    MALTA
                </p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/carousel/the-devils-double-508d707c67da5.jpg" alt="Devils Double" title="Devils Double" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/images/carousel/2005_0804_MALTA_VALLETTA.jpg" alt="Valletta" title="Valletta" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    <img src="~/images/icons/malta_cross_100.png" /><br />
                    MOVIES <br />
                    MADE IN<br />
                    MALTA
                </p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/carousel/midnight-express-5733fc65ca17c.jpg" alt="Midnight Express" title="Midnight Express" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/images/carousel/2020_0006_MALTA.jpg" alt="Fort St Elmo" title="Fort St Elmo" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    <img src="~/images/icons/malta_cross_100.png" /><br />
                    MOVIES <br />
                    MADE IN<br />
                    MALTA
                </p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/carousel/clash-of-the-titans-5413bbdb90d25.jpg" alt="Clash of the Titans" title="Clash of the Titans" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/images/carousel/2013_3663_MALTA_GOZO.jpg" alt="Azure Window, Gozo" title="Azure Window, Gozo" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    <img src="~/images/icons/malta_cross_100.png" /><br />
                    MOVIES <br />
                    MADE IN<br />
                    MALTA
                </p>
            </div>
        </div>

        @*image 11*@
        <div class="item">
            <img src="~/images/carousel/munich-5408fa6b58b46.jpg" alt="Munich" title="Munich" class="img-responsive" />
        </div>

        @*Added Nov 2020...*@

        <div class="item">
            <img src="~/images/carousel/2020_0196_MALTA.jpg" alt="Mdina" title="Mdina" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    <img src="~/images/icons/malta_cross_100.png" /><br />
                    MOVIES <br />
                    MADE IN<br />
                    MALTA
                </p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/carousel/gladiator-508d8759e71be.jpg" alt="Gladiator" title="Gladiator" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/images/carousel/2018_1030179_MALTA.jpg" alt="Fort Ricasoli" title="Fort Ricasoli" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    <img src="~/images/icons/malta_cross_100.png" /><br />
                    MOVIES <br />
                    MADE IN<br />
                    MALTA
                </p>
            </div>
        </div>

        @*item 15*@
        <div class="item">
            <img src="~/images/carousel/13-hours-2.jpg" alt="13 Hours: The Secret Soldiers of Benghazi" title="13 Hours: The Secret Soldiers of Benghazi" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/images/carousel/2020_9935_HDR_MALTA.jpg" alt="Cospicua" title="Cospicua" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    <img src="~/images/icons/malta_cross_100.png" /><br />
                    MOVIES <br />
                    MADE IN<br />
                    MALTA
                </p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/carousel/murder-on-the-orient-express-595b7b91313c0.jpg" alt="Murder on the Orient Express" title="Murder on the Orient Express" class="img-responsive" />
        </div>

        <div class="item">
            <img src="~/images/carousel/2020_9900_HDR_MALTA.jpg" alt="Upper Barrakka Gardens" title="Upper Barrakka Gardens" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    <img src="~/images/icons/malta_cross_100.png" /><br />
                    MOVIES <br />
                    MADE IN<br />
                    MALTA
                </p>
            </div>
        </div>

        @*item 18*@
        <div class="item">
            <img src="~/images/carousel/the-count-of-monte-cristo-508d49f45ace0.jpg" alt="Count of Monte Cristo" title="Count of Monte Cristo" class="img-responsive" />
        </div>






    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div>
    <h2>Movies Made in Malta</h2>
    <article>
        <p>
            This web site is dedicated to movies made in Malta, Gozo and Comino.<br />
            Malta has been a favorite amongst filmmakers and TV drama Producers (as well as the odd TV commercial and pop video) for many years<br />
        <p>
            There are several reasons that attract Hollywood filmmakers (and others) to Malta.
            The natural historic settings and backdrops which can double as virtually any period in history and many other countries in the Mediterranean, North Africa and even the Middle East. Spielberg used it for EIGHT different countries in his movie <strong>Munich</strong>!.<br />
            <br />
            Its unique large water tanks in Rinella which have been used in countless sea faring movies. Not to mention, bright sunshine, cheaper production costs and the facilities at the <strong>MFS</strong> (Mediterranean Film Studios)
        </p>
    </article>

</div>
@*<div id="share-button-1" class="need-share-button-default" data-share-icon-style="box"
     data-share-position="bottomCenter" data-share-networks="Mailto,Twitter,Pinterest,Facebook,Googleplus,linkedin">
</div>
<script src="~/lib/needShareButton/js/needsharebutton.js"></script>
<script>    
new needShareDropdown(document.getElementById('share-button-1'));			
</script>*@

