@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>

<article>
    <p>Why just Malta and Manchester?</p>
    <p>
        This site started way back in 2006 and originally only listed 'movies made in Malta'.
    </p>
    <p>My interest in Malta as a movie location started way back in the mid 80s whilst on holiday there when I discovered Fort St Elmo in Valletta was used in Midnight Express (1978).  An old time favourite movie of mine.</p>
    <p>
        Being half Maltese I have visted the island many times as I have relatives there and have visited many of the locations featured on this site.  I once stumbled upon Spielberg filming 'Munich' in Valletta in 2005 whilst walking down to the harbour which further fuelled my interest as well as cousins appearing as extras in several productions.
    </p>
    <p>As Manchester (England) is my home city, I thought it was time to include it especially as Hollywood has used various locations in recent years, particulary the 'Northern Quarter' part of the city for big movies like Sherlock Homes, Captain America and more recently 'Title TBC'e</p>
    <p>Note, this site only includes <strong>English language feature films</strong> made in natural locations in Malta, Gozo and Comino and Greater Manchester (England, UK) so it will not include TV soaps and programmes like 'Coronation Street', 'Game of Thrones', 'Cold Feet, 'Cracker' and movies only using the Rinella Water Tanks, etc.</p>
    <p>&nbsp;</p>
    <p>Kevin M</p>

</article>











